body {
	width: 960px;
    height: 600px;
    margin: auto;
    padding: 0px;
    background: white;
}
    

header {
    width: 100%;
    height: 30px;
    margin: 0;
    background: #778899;
    border-radius: 10px;
    border: 4px solid #BDB76B;
}

#main{
	width: 100%;
	height: 500px;
	margin: auto;
	margin-top: 5px;
	background: green;
	border-radius: 10px;
	border: 4px solid #BDB76B;
}

#buttons{
	position: absolute;
	width: 400px;
	height: 150px;
	margin: auto;
	margin-top: 170px;
	margin-left: 280px;
	border: 2px solid black;
	border-radius: 10px;
	background: #BEBEBE;
}

#dealer_hand, #player_hand{
	position: absolute;
	width: 550px;
	height: 130px;
	background: white;
	margin: auto;
	border-radius: 10px;
	border: 4px solid #BDB76B;
	margin-left: 400px;
}

#dealer_hand{
	
	margin-top: 5px;
}

#player_hand{
	margin-top: 360px;
}
#b_hit, #b_stand {
	position: absolute;
	width: 100px;
	height: 70px;
	top: 40px;
	background: white;
	border-radius: 10px;
	border: 2px solid black;
	background: #F0FFFF;
}

#b_hit {
	left: 70px;
}


#b_stand {
	left: 220px;
}


#b_hit p, #b_stand p {
	position: absolute;
	top: 10px;
	left: 20px;
	font-weight: bold;
}

#b_hit p{
	left: 35px;
}

 #dialog{
  position:absolute;
   width:200px;
   height:100px;
 }

#b_NewGame {
	position: absolute;
    	width: 100px;
    	height: 70px;
    	top: 120px;
    	left: 145px;
    	background: white;
    	border-radius: 10px;
    	border: 2px solid black;
    	background: #F0FFFF;

}









